/Characterarray.class
/Charcount.class
/Charpresent.class
/Charpresentindex.class
/Counteachvowel.class
/CountofeachCharacter.class
/Countvowels.class
/Countvowels1.class
/Eachword.class
/LargestWord.class
/Largestnumber1.class
/Palindrome.class
/RemovingSpaces.class
/Reversestring.class
/Reversestring1.class
/Rstringwocharat.class
/Stringcomp.class
