/Asciivalues.class
/CharacterbasedonIndex.class
/LastTwoWords.class
/Lengthofstringwithoutmethod.class
/NexttoLastWord.class
/Removeduplicates.class
/Removevowels.class
/Removinspacesinbetween.class
/ReverseEachWord.class
/UpperndLowercase.class
/Wordispresent.class
/integerArray.class
